In [87]:
import pandas as pd
import sqlite3

In [88]:
df = pd.read_csv("Senior Data Analyst Task Transactions.csv")
df

,Transaction_ID,User_ID,Crypto,Transaction_Type,Amount,Price_Per_Unit,Total_Value,Transaction_Fee,Platform,Status,Wallet_Type,Transaction_Date
0,434465,31394,Bitcoin,Withdraw,57.695145,45248.78,2610634.92,114990.70,KuCoin,Completed,Trezor,2024-04-10 09:51:58.222424
1,905397,39627,Solana,Stake,27.708982,48307.43,1338549.71,34560.11,Binance,Failed,Cold Wallet,2023-10-04 09:51:58.222424
2,451293,11506,Cardano,Buy,80.368977,44428.82,3570698.81,38312.76,OKX,Pending,Hot Wallet,2024-11-15 09:51:58.222424
3,841249,84005,XRP,Stake,83.900483,8755.31,734574.74,1396.89,FTX,Completed,Exchange Wallet,2024-02-11 09:51:58.222424
4,762686,66706,Dogecoin,Stake,52.528368,58667.26,3081695.42,19087.58,Kraken,Pending,Exchange Wallet,2023-09-15 09:51:58.222424
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,186998,93233,Bitcoin,Stake,30.918047,20067.21,620438.94,5603.47,FTX,Pending,Trezor,2023-02-28 09:51:58.222424
9996,337144,44181,Cardano,Buy,80.090849,42488.69,3402955.25,71081.12,Kraken,Failed,Ledger,2024-08-28 09:51:58.222424
9997,946655,22496,BNB,Withdraw,19.005921,36513.00,693963.19,29738.11,Coinbase,Completed,Ledger,2023-04-06 09:51:58.222424
9998,153921,72835,Litecoin,Buy,11.872668,19748.07,234462.28,10107.57,OKX,Failed,Trezor,2023-11-01 09:51:58.222424
9999,760727,43815,Litecoin,Transfer,80.534637,7400.97,596034.43,23196.39,Coinbase,Pending,Exchange Wallet,2024-10-10 09:51:58.222424

In [89]:
df.info()
df.describe()
print("Missing values:\n", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  int64
 1   User_ID           10000 non-null  int64
 2   Crypto            10000 non-null  object
 3   Transaction_Type  10000 non-null  object
 4   Amount            10000 non-null  float64
 5   Price_Per_Unit    10000 non-null  float64
 6   Total_Value       10000 non-null  float64
 7   Transaction_Fee   10000 non-null  float64
 8   Platform          10000 non-null  object
 9   Status            10000 non-null  object
 10  Wallet_Type       10000 non-null  object
 11  Transaction_Date  10000 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 937.6+ KB
Missing values:
 Transaction_ID      0
User_ID             0
Crypto              0
Transaction_Type    0
Amount              0
Price_Per_Unit      0
Total_Value         0
Transaction_Fee     0
Platform            0
Status              0
Wallet_Type         0
Transaction_Date    0
dtype: int64

In [90]:
df['Transaction_Date'] = pd.to_datetime(df['Transaction_Date'], errors='coerce')
df['Transaction_Pure_Date'] = df['Transaction_Date'].dt.date
df['Year'] = df['Transaction_Date'].dt.year
df['Month'] = df['Transaction_Date'].dt.month
df['Day'] = df['Transaction_Date'].dt.day
df['Month_Name'] = df['Transaction_Date'].dt.strftime('%B')

In [91]:
df

,Transaction_ID,User_ID,Crypto,Transaction_Type,Amount,Price_Per_Unit,Total_Value,Transaction_Fee,Platform,Status,Wallet_Type,Transaction_Date,Transaction_Pure_Date,Year,Month,Day,Month_Name
0,434465,31394,Bitcoin,Withdraw,57.695145,45248.78,2610634.92,114990.70,KuCoin,Completed,Trezor,2024-04-10 09:51:58.222424,2024-04-10,2024,4,10,April
1,905397,39627,Solana,Stake,27.708982,48307.43,1338549.71,34560.11,Binance,Failed,Cold Wallet,2023-10-04 09:51:58.222424,2023-10-04,2023,10,4,October
2,451293,11506,Cardano,Buy,80.368977,44428.82,3570698.81,38312.76,OKX,Pending,Hot Wallet,2024-11-15 09:51:58.222424,2024-11-15,2024,11,15,November
3,841249,84005,XRP,Stake,83.900483,8755.31,734574.74,1396.89,FTX,Completed,Exchange Wallet,2024-02-11 09:51:58.222424,2024-02-11,2024,2,11,February
4,762686,66706,Dogecoin,Stake,52.528368,58667.26,3081695.42,19087.58,Kraken,Pending,Exchange Wallet,2023-09-15 09:51:58.222424,2023-09-15,2023,9,15,September
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,186998,93233,Bitcoin,Stake,30.918047,20067.21,620438.94,5603.47,FTX,Pending,Trezor,2023-02-28 09:51:58.222424,2023-02-28,2023,2,28,February
9996,337144,44181,Cardano,Buy,80.090849,42488.69,3402955.25,71081.12,Kraken,Failed,Ledger,2024-08-28 09:51:58.222424,2024-08-28,2024,8,28,August
9997,946655,22496,BNB,Withdraw,19.005921,36513.00,693963.19,29738.11,Coinbase,Completed,Ledger,2023-04-06 09:51:58.222424,2023-04-06,2023,4,6,April
9998,153921,72835,Litecoin,Buy,11.872668,19748.07,234462.28,10107.57,OKX,Failed,Trezor,2023-11-01 09:51:58.222424,2023-11-01,2023,11,1,November
9999,760727,43815,Litecoin,Transfer,80.534637,7400.97,596034.43,23196.39,Coinbase,Pending,Exchange Wallet,2024-10-10 09:51:58.222424,2024-10-10,2024,10,10,October

In [92]:
wallet_groups = {
    'Trezor': 'Hardware Wallet',
    'Ledger': 'Hardware Wallet',
    'Cold Wallet': 'Cold Wallet',
    'Hot Wallet': 'Hot Wallet',
    'Exchange Wallet': 'Exchange Wallet'
}
df['Wallet_Category'] = df['Wallet_Type'].map(wallet_groups).fillna('Other')
df

,Transaction_ID,User_ID,Crypto,Transaction_Type,Amount,Price_Per_Unit,Total_Value,Transaction_Fee,Platform,Status,Wallet_Type,Transaction_Date,Transaction_Pure_Date,Year,Month,Day,Month_Name,Wallet_Category
0,434465,31394,Bitcoin,Withdraw,57.695145,45248.78,2610634.92,114990.70,KuCoin,Completed,Trezor,2024-04-10 09:51:58.222424,2024-04-10,2024,4,10,April,Hardware Wallet
1,905397,39627,Solana,Stake,27.708982,48307.43,1338549.71,34560.11,Binance,Failed,Cold Wallet,2023-10-04 09:51:58.222424,2023-10-04,2023,10,4,October,Cold Wallet
2,451293,11506,Cardano,Buy,80.368977,44428.82,3570698.81,38312.76,OKX,Pending,Hot Wallet,2024-11-15 09:51:58.222424,2024-11-15,2024,11,15,November,Hot Wallet
3,841249,84005,XRP,Stake,83.900483,8755.31,734574.74,1396.89,FTX,Completed,Exchange Wallet,2024-02-11 09:51:58.222424,2024-02-11,2024,2,11,February,Exchange Wallet
4,762686,66706,Dogecoin,Stake,52.528368,58667.26,3081695.42,19087.58,Kraken,Pending,Exchange Wallet,2023-09-15 09:51:58.222424,2023-09-15,2023,9,15,September,Exchange Wallet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,186998,93233,Bitcoin,Stake,30.918047,20067.21,620438.94,5603.47,FTX,Pending,Trezor,2023-02-28 09:51:58.222424,2023-02-28,2023,2,28,February,Hardware Wallet
9996,337144,44181,Cardano,Buy,80.090849,42488.69,3402955.25,71081.12,Kraken,Failed,Ledger,2024-08-28 09:51:58.222424,2024-08-28,2024,8,28,August,Hardware Wallet
9997,946655,22496,BNB,Withdraw,19.005921,36513.00,693963.19,29738.11,Coinbase,Completed,Ledger,2023-04-06 09:51:58.222424,2023-04-06,2023,4,6,April,Hardware Wallet
9998,153921,72835,Litecoin,Buy,11.872668,19748.07,234462.28,10107.57,OKX,Failed,Trezor,2023-11-01 09:51:58.222424,2023-11-01,2023,11,1,November,Hardware Wallet
9999,760727,43815,Litecoin,Transfer,80.534637,7400.97,596034.43,23196.39,Coinbase,Pending,Exchange Wallet,2024-10-10 09:51:58.222424,2024-10-10,2024,10,10,October,Exchange Wallet

In [93]:
wallet_high_level = {
    'Trezor': 'Cold Wallet',
    'Ledger': 'Cold Wallet',
    'Cold Wallet': 'Cold Wallet',
    'Hot Wallet': 'Hot Wallet',
    'Exchange Wallet': 'Hot Wallet'
}
df['Wallet_High_Level_Category'] = df['Wallet_Type'].map(wallet_high_level).fillna('Other')

In [94]:
descriptive_stats = df.groupby('Crypto')['Price_Per_Unit'].agg(['mean', 'std', 'median', 'min', 'max'])
print(descriptive_stats)
#do not understand why the price per unit for each asset is like this. Too high or too low.
#Could it be a different currency? This dataset seems inaccurate. This impacts the total_value.

                   mean           std     median    min       max
Crypto
Avalanche  29762.036442  17322.128859  29145.890  42.12  59938.88
BNB        29981.330514  16977.966325  29901.180  29.45  59995.76
Bitcoin    30743.910222  16827.564266  31593.770  37.82  59939.11
Cardano    30185.528064  17007.578928  30589.720  10.27  59809.24
Dogecoin   29996.406921  17533.445267  29853.660  30.56  59947.98
Ethereum   29668.915509  17250.981480  29615.670  37.40  59822.64
Litecoin   29554.600116  17591.299034  29407.985  23.54  59985.75
Polkadot   29980.605255  17331.071115  29767.950  26.49  59984.31
Solana     29756.053240  17325.648684  29581.665  72.63  59800.91
XRP        29226.998423  16992.935433  28362.230  86.59  59987.81

In [95]:
df['Transaction_Pure_Date'] = pd.to_datetime(df['Transaction_Pure_Date']) 
min_date = df['Transaction_Pure_Date'].min()
max_date = df['Transaction_Pure_Date'].max()
print(f"Min Date: {min_date}")
print(f"Max Date: {max_date}")

Min Date: 2023-02-28 00:00:00
Max Date: 2025-02-27 00:00:00

In [97]:
solana_data = df[df['Crypto'] == 'Solana']['Price_Per_Unit']
solana_data
solana_median_price = solana_data.median()
threshold = 260
df['solana_median_price'] = solana_median_price > threshold
df['solana_median_price'].describe()
#I am adding an additional column to showcase the boolean median value of Solana's price, as a way to tackle it. Any true showcases that the price per unit is higher than the maximum price an asset has reached.  
#But will ask for more clarification

count     10000
unique        1
top        True
freq      10000
Name: solana_median_price, dtype: object

In [98]:
df

,Transaction_ID,User_ID,Crypto,Transaction_Type,Amount,Price_Per_Unit,Total_Value,Transaction_Fee,Platform,Status,Wallet_Type,Transaction_Date,Transaction_Pure_Date,Year,Month,Day,Month_Name,Wallet_Category,Wallet_High_Level_Category,solana_median_price
0,434465,31394,Bitcoin,Withdraw,57.695145,45248.78,2610634.92,114990.70,KuCoin,Completed,Trezor,2024-04-10 09:51:58.222424,2024-04-10,2024,4,10,April,Hardware Wallet,Cold Wallet,True
1,905397,39627,Solana,Stake,27.708982,48307.43,1338549.71,34560.11,Binance,Failed,Cold Wallet,2023-10-04 09:51:58.222424,2023-10-04,2023,10,4,October,Cold Wallet,Cold Wallet,True
2,451293,11506,Cardano,Buy,80.368977,44428.82,3570698.81,38312.76,OKX,Pending,Hot Wallet,2024-11-15 09:51:58.222424,2024-11-15,2024,11,15,November,Hot Wallet,Hot Wallet,True
3,841249,84005,XRP,Stake,83.900483,8755.31,734574.74,1396.89,FTX,Completed,Exchange Wallet,2024-02-11 09:51:58.222424,2024-02-11,2024,2,11,February,Exchange Wallet,Hot Wallet,True
4,762686,66706,Dogecoin,Stake,52.528368,58667.26,3081695.42,19087.58,Kraken,Pending,Exchange Wallet,2023-09-15 09:51:58.222424,2023-09-15,2023,9,15,September,Exchange Wallet,Hot Wallet,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,186998,93233,Bitcoin,Stake,30.918047,20067.21,620438.94,5603.47,FTX,Pending,Trezor,2023-02-28 09:51:58.222424,2023-02-28,2023,2,28,February,Hardware Wallet,Cold Wallet,True
9996,337144,44181,Cardano,Buy,80.090849,42488.69,3402955.25,71081.12,Kraken,Failed,Ledger,2024-08-28 09:51:58.222424,2024-08-28,2024,8,28,August,Hardware Wallet,Cold Wallet,True
9997,946655,22496,BNB,Withdraw,19.005921,36513.00,693963.19,29738.11,Coinbase,Completed,Ledger,2023-04-06 09:51:58.222424,2023-04-06,2023,4,6,April,Hardware Wallet,Cold Wallet,True
9998,153921,72835,Litecoin,Buy,11.872668,19748.07,234462.28,10107.57,OKX,Failed,Trezor,2023-11-01 09:51:58.222424,2023-11-01,2023,11,1,November,Hardware Wallet,Cold Wallet,True
9999,760727,43815,Litecoin,Transfer,80.534637,7400.97,596034.43,23196.39,Coinbase,Pending,Exchange Wallet,2024-10-10 09:51:58.222424,2024-10-10,2024,10,10,October,Exchange Wallet,Hot Wallet,True

In [39]:
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT *
FROM crypto_transactions_clean
LIMIT 10;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

   Transaction_ID  User_ID    Crypto Transaction_Type     Amount  \
0          434465    31394   Bitcoin         Withdraw  57.695145
1          905397    39627    Solana            Stake  27.708982
2          451293    11506   Cardano              Buy  80.368977
3          841249    84005       XRP            Stake  83.900483
4          762686    66706  Dogecoin            Stake  52.528368
5          925389    33284   Cardano             Sell  96.423204
6          160227    66819       BNB         Transfer  36.251446
7          687076    83903       XRP         Transfer  31.387780
8          556052    76299  Polkadot         Withdraw  94.771521
9          126989    54167  Dogecoin         Transfer  14.249741

   Price_Per_Unit  Total_Value  Transaction_Fee  Platform     Status  \
0        45248.78   2610634.92        114990.70    KuCoin  Completed
1        48307.43   1338549.71         34560.11   Binance     Failed
2        44428.82   3570698.81         38312.76       OKX    Pending
3         8755.31    734574.74          1396.89       FTX  Completed
4        58667.26   3081695.42         19087.58    Kraken    Pending
5        14327.75   1381527.56         40679.41    Kraken    Pending
6        13832.81    501459.36         13192.99    Kraken     Failed
7        25214.70    791433.46         33678.05       FTX    Pending
8        50095.83   4747658.00        182900.88  Coinbase  Completed
9         1890.29     26936.14           718.12    Kraken    Pending

       Wallet_Type            Transaction_Date  Year  Month Month_Name  Day  \
0           Trezor  2024-04-10 09:51:58.222424  2024      4      April   10
1      Cold Wallet  2023-10-04 09:51:58.222424  2023     10    October    4
2       Hot Wallet  2024-11-15 09:51:58.222424  2024     11   November   15
3  Exchange Wallet  2024-02-11 09:51:58.222424  2024      2   February   11
4  Exchange Wallet  2023-09-15 09:51:58.222424  2023      9  September   15
5           Trezor  2023-10-28 09:51:58.222424  2023     10    October   28
6      Cold Wallet  2024-11-29 09:51:58.222424  2024     11   November   29
7           Trezor  2024-08-01 09:51:58.222424  2024      8     August    1
8  Exchange Wallet  2024-04-09 09:51:58.222424  2024      4      April    9
9      Cold Wallet  2024-02-16 09:51:58.222424  2024      2   February   16

   Wallet_Category Wallet_High_Level_Category Transaction_Pure_Date
0  Hardware Wallet                Cold Wallet            2024-04-10
1      Cold Wallet                Cold Wallet            2023-10-04
2       Hot Wallet                 Hot Wallet            2024-11-15
3  Exchange Wallet                 Hot Wallet            2024-02-11
4  Exchange Wallet                 Hot Wallet            2023-09-15
5  Hardware Wallet                Cold Wallet            2023-10-28
6      Cold Wallet                Cold Wallet            2024-11-29
7  Hardware Wallet                Cold Wallet            2024-08-01
8  Exchange Wallet                 Hot Wallet            2024-04-09
9      Cold Wallet                Cold Wallet            2024-02-16

In [49]:
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT count(distinct user_id) as users, 
count(transaction_id) as total_transactions, 
sum(amount) as volume,
Platform
FROM crypto_transactions_clean
WHERE status = 'Completed'
GROUP BY 4;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

   users  total_transactions        volume  Platform
0    477                 480  23755.234581   Binance
1    548                 550  27696.037998  Coinbase
2    449                 449  22412.260763       FTX
3    443                 443  22067.245266     Huobi
4    466                 468  23191.631133    Kraken
5    480                 481  23498.904581    KuCoin
6    451                 451  23016.583539       OKX

In [50]:
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT count(distinct user_id) as users, 
count(transaction_id) as total_transactions, 
sum(amount) as volume,
Crypto
FROM crypto_transactions_clean
WHERE status = 'Completed'
GROUP BY 4;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

   users  total_transactions        volume     Crypto
0    328                 330  16164.264101  Avalanche
1    334                 334  17289.937522        BNB
2    340                 341  17799.759030    Bitcoin
3    338                 340  16881.827683    Cardano
4    342                 342  16605.149388   Dogecoin
5    357                 357  17431.464836   Ethereum
6    314                 314  15402.737701   Litecoin
7    361                 361  18074.882327   Polkadot
8    298                 298  14943.594413     Solana
9    305                 305  15044.280860        XRP

In [54]:
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT count(distinct user_id) as users, 
count(transaction_id) as total_transactions, 
sum(amount) as volume,
Crypto,
Wallet_High_Level_category
FROM crypto_transactions_clean
WHERE status = 'Completed'
GROUP BY 4,5;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

    users  total_transactions        volume     Crypto  \
0     200                 201   9533.566011  Avalanche
1     129                 129   6630.698090  Avalanche
2     184                 184   9492.182539        BNB
3     150                 150   7797.754983        BNB
4     191                 191   9818.177111    Bitcoin
5     149                 150   7981.581919    Bitcoin
6     215                 215  10696.982167    Cardano
7     125                 125   6184.845516    Cardano
8     218                 218  11078.415476   Dogecoin
9     124                 124   5526.733912   Dogecoin
10    202                 202   9952.791993   Ethereum
11    155                 155   7478.672843   Ethereum
12    193                 193   9688.368537   Litecoin
13    121                 121   5714.369164   Litecoin
14    220                 220  11185.515046   Polkadot
15    141                 141   6889.367281   Polkadot
16    163                 163   8712.704264     Solana
17    135                 135   6230.890149     Solana
18    167                 167   8294.039082        XRP
19    138                 138   6750.241778        XRP

   Wallet_High_Level_Category
0                 Cold Wallet
1                  Hot Wallet
2                 Cold Wallet
3                  Hot Wallet
4                 Cold Wallet
5                  Hot Wallet
6                 Cold Wallet
7                  Hot Wallet
8                 Cold Wallet
9                  Hot Wallet
10                Cold Wallet
11                 Hot Wallet
12                Cold Wallet
13                 Hot Wallet
14                Cold Wallet
15                 Hot Wallet
16                Cold Wallet
17                 Hot Wallet
18                Cold Wallet
19                 Hot Wallet

In [53]:
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT count(distinct user_id) as users, 
count(transaction_id) as total_transactions, 
sum(amount) as volume,
Crypto,
Transaction_Type
FROM crypto_transactions_clean
WHERE status = 'Completed'
GROUP BY 4,5;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

    users  total_transactions       volume     Crypto Transaction_Type
0      79                  79  3751.252203  Avalanche              Buy
1      68                  68  3247.440009  Avalanche             Sell
2      77                  77  3824.276722  Avalanche            Stake
3      49                  49  2549.537132  Avalanche         Transfer
4      57                  57  2791.758035  Avalanche         Withdraw
5      68                  68  3144.463934        BNB              Buy
6      72                  72  4097.431995        BNB             Sell
7      61                  61  2942.213604        BNB            Stake
8      62                  62  3416.115439        BNB         Transfer
9      71                  71  3689.712550        BNB         Withdraw
10     65                  65  3363.026845    Bitcoin              Buy
11     68                  68  3717.209252    Bitcoin             Sell
12     65                  65  3289.305332    Bitcoin            Stake
13     70                  70  3632.069658    Bitcoin         Transfer
14     73                  73  3798.147943    Bitcoin         Withdraw
15     66                  66  3580.243590    Cardano              Buy
16     62                  62  2876.613422    Cardano             Sell
17     76                  76  3642.972137    Cardano            Stake
18     65                  65  3352.185218    Cardano         Transfer
19     71                  71  3429.813316    Cardano         Withdraw
20     58                  58  2909.397819   Dogecoin              Buy
21     69                  69  3355.687756   Dogecoin             Sell
22     78                  78  4133.404505   Dogecoin            Stake
23     74                  74  3322.398160   Dogecoin         Transfer
24     63                  63  2884.261148   Dogecoin         Withdraw
25     68                  68  3397.506625   Ethereum              Buy
26     76                  76  3612.801341   Ethereum             Sell
27     75                  75  3726.091276   Ethereum            Stake
28     73                  73  3675.970932   Ethereum         Transfer
29     65                  65  3019.094662   Ethereum         Withdraw
30     69                  69  3726.994090   Litecoin              Buy
31     70                  70  3668.819807   Litecoin             Sell
32     51                  51  2376.656876   Litecoin            Stake
33     50                  50  2356.620090   Litecoin         Transfer
34     74                  74  3273.646838   Litecoin         Withdraw
35     67                  67  3299.926956   Polkadot              Buy
36     77                  77  3913.750647   Polkadot             Sell
37     64                  64  3007.621434   Polkadot            Stake
38     73                  73  3740.732586   Polkadot         Transfer
39     80                  80  4112.850704   Polkadot         Withdraw
40     53                  53  2413.990702     Solana              Buy
41     70                  70  3783.207525     Solana             Sell
42     56                  56  2912.254303     Solana            Stake
43     65                  65  3236.377179     Solana         Transfer
44     54                  54  2597.764704     Solana         Withdraw
45     64                  64  3230.904780        XRP              Buy
46     55                  55  2296.036843        XRP             Sell
47     77                  77  3597.744460        XRP            Stake
48     58                  58  3335.389157        XRP         Transfer
49     51                  51  2584.205620        XRP         Withdraw

In [104]:
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT count(distinct user_id) as users, 
count(transaction_id) as total_transactions, 
round(count(case when status = 'Completed' then transaction_id end),2)/round(count(transaction_id),2) 
as total_transactions_completed_percent, 
sum(amount) as volume,
Transaction_Type
FROM crypto_transactions_clean;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

   users  total_transactions  total_transactions_completed_percent  \
0   9418               10000                                0.3322

          volume Transaction_Type
0  501207.549513         Withdraw

In [106]:
#Checking Duplicate Transactions which could have gone from Pending to Completed as an example
conn = sqlite3.connect(":memory:")
df.to_sql("crypto_transactions_clean", conn, index=False, if_exists="replace")

# SQL query
query = """
SELECT * FROM (
SELECT *, row_number() OVER (partition by user_id, transaction_id ORDER by transaction_pure_date desc) as rn
FROM crypto_transactions_clean)
WHERE RN = 1;
"""

# Execute query
result = pd.read_sql(query, conn)
print(result)

      Transaction_ID  User_ID     Crypto Transaction_Type     Amount  \
0             925024    10016    Cardano            Stake  74.937017
1             399917    10031   Litecoin         Transfer  46.834689
2             605088    10034     Solana         Transfer   9.441058
3             735705    10039    Bitcoin              Buy  47.696378
4             744952    10054  Avalanche              Buy  21.767854
...              ...      ...        ...              ...        ...
9995          445073    99958    Cardano         Withdraw  27.121750
9996          467828    99974  Avalanche            Stake  73.447313
9997          452599    99982    Cardano             Sell  38.854060
9998          660642    99983    Bitcoin             Sell  90.336373
9999          917726    99986     Solana         Withdraw  53.289050

      Price_Per_Unit  Total_Value  Transaction_Fee Platform     Status  ...  \
0           40137.86   3007811.50         74890.09    Huobi    Pending  ...
1            2599.38    121741.15          5611.34   Kraken    Pending  ...
2           18271.11    172498.61          2562.55   Kraken  Completed  ...
3            2336.11    111423.99          4254.86  Binance    Pending  ...
4           38055.82    828393.53         25620.23  Binance     Failed  ...
...              ...          ...              ...      ...        ...  ...
9995        36882.31   1000312.79          2898.14      OKX     Failed  ...
9996        43297.63   3180094.58        153155.90      OKX     Failed  ...
9997         8339.10    324007.89          7016.53  Binance    Pending  ...
9998        14010.23   1265633.36          3583.43  Binance     Failed  ...
9999        57049.48   3040112.59        112108.71  Binance    Pending  ...

                Transaction_Date Transaction_Pure_Date  Year  Month  Day  \
0     2023-08-17 09:51:58.222424   2023-08-17 00:00:00  2023      8   17
1     2025-02-04 09:51:58.222424   2025-02-04 00:00:00  2025      2    4
2     2024-09-01 09:51:58.222424   2024-09-01 00:00:00  2024      9    1
3     2024-12-24 09:51:58.222424   2024-12-24 00:00:00  2024     12   24
4     2023-07-29 09:51:58.222424   2023-07-29 00:00:00  2023      7   29
...                          ...                   ...   ...    ...  ...
9995  2024-03-17 09:51:58.222424   2024-03-17 00:00:00  2024      3   17
9996  2024-08-26 09:51:58.222424   2024-08-26 00:00:00  2024      8   26
9997  2025-01-01 09:51:58.222424   2025-01-01 00:00:00  2025      1    1
9998  2024-04-06 09:51:58.222424   2024-04-06 00:00:00  2024      4    6
9999  2023-05-31 09:51:58.222424   2023-05-31 00:00:00  2023      5   31

      Month_Name  Wallet_Category Wallet_High_Level_Category  \
0         August  Hardware Wallet                Cold Wallet
1       February       Hot Wallet                 Hot Wallet
2      September  Hardware Wallet                Cold Wallet
3       December  Exchange Wallet                 Hot Wallet
4           July      Cold Wallet                Cold Wallet
...          ...              ...                        ...
9995       March       Hot Wallet                 Hot Wallet
9996      August      Cold Wallet                Cold Wallet
9997     January  Exchange Wallet                 Hot Wallet
9998       April      Cold Wallet                Cold Wallet
9999         May  Hardware Wallet                Cold Wallet

     solana_median_price  rn
0                      1   1
1                      1   1
2                      1   1
3                      1   1
4                      1   1
...                  ...  ..
9995                   1   1
9996                   1   1
9997                   1   1
9998                   1   1
9999                   1   1

[10000 rows x 21 columns]

In [105]:
df.to_csv('Trust_Wallet_Crypto_Transactions.csv')